.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

h1, h2{
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
    /* font-size: large; */
    border-bottom: 1px solid gray;
    width: 90%;
    padding-bottom: 5px;
}

.text{
    width: 30%;
    height: auto;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    /* padding: 15px; */
}
.but{
    /* width: 30%; */
    height: 100%;
    /* height: auto; */
    padding: 0px;
    margin: 0px;
    background: transparent;
    vertical-align: middle;
    box-sizing: border-box;
}

.row{
    border: 2px solid black;
    border-radius: 20px;
    line-height: 250px;
    margin-bottom: 25px;
}
button{
    background: transparent;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    height: fit-content;
    cursor: default;
}

button img{
    width: 70%;
    padding: 15px;
    margin: 0px;
}
button img:hover{
    /* width: 65%; */
    padding: 30px;
    margin: 0px;
    cursor: pointer;
}

.img-main{
    margin-top: 20px;
    width: 70%;
    margin-bottom: 25px;
}
.img-main img{
    width: 100%;
}

.active{
    opacity: 70%;
    padding: 30px;
    filter: blur();
}

#map{
    height: 500px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .row{
    line-height: 200px;
  }
  .text{
    line-height: 225px;
    vertical-align: middle;
  }
  .img-main{
    width: 80%;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .row{
        line-height: 150px;
      }
    .text{
        line-height: 175px;
        vertical-align: middle;
    }
    .img-main{
        width: 90%;
    }
    h1, h2{
        width: 98%;
    }
}
/********** Extra small devices only **********/
@media (max-width: 768px) {
    .row{
        line-height: 100px;
        width: 90%;
      }
    .text{
        width: 100%;
        text-align: center;
        line-height: 100%;
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .but{
        width: 50%;
        /* height: ; */
        /* width: auto; */
    }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  
}



